.app-main {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.img-section {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.img {
  max-width: 400px;
}

.censor-buttton {
  position: absolute;
  color: transparent;
}

#source-container {
  position: relative;
}
